@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --btn-color: #C7CEDB;
    --available-color: #17D606;
    --unavailable-color: #E20404;
    --reserverad-btn: rgba(226, 4, 4, 0.2);
    --input_field-color: #C7CEDB;
    --delete_btn-color: #D0AEB7;
    --pickup_text-color: #008000;
}

nav {
    grid-row: 3/span 1;
    grid-column: auto /span 2;
    height: 55px;
    display: flex;
    align-items: center;

    & .navicon {
        width: 25px;
        margin-right: auto;
    }

    & .location {
        margin-right: auto;
    }
}

.item {
    display: flex;
    background-color: var(--btn-color);
    width: 100%;
    height: 100%;

    & .item-image {
        max-width: 150px;
        max-height: 120px;
    }

    & .item-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid #FFF 1px;
    }

    & .green {
        border: solid var(--available-color);
        background-color: var(--available-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-left: 15px;
    }

    & .red {
        border: solid var(--unavailable-color);
        background-color: var(--unavailable-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-left: 15px;
    }

    & .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        font-weight: 700;
    }

    & .standard_button {
        width: 170px;
        height: 38px;
        font-size: 20px;
        border-radius: 10px;
        border-style: none;
        background-color: #FFF;
        margin-right: auto;
        margin-left: auto;
    }

    & .reserverad_button {
        width: 170px;
        height: 38px;
        font-size: 18px;
        color: #FFF;
        border-radius: 10px;
        border-style: none;
        background-color: var(--reserverad-btn);
        margin-right: auto;
        margin-left: auto;
    }
}



.availability {
    grid-row: 4;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-around;
    height: 39px;

    & .available,
    .unavailable {
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    & .green {
        border: solid var(--available-color);
        background-color: var(--available-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    & .red {
        border: solid var(--unavailable-color);
        background-color: var(--unavailable-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }
}

.filtering {
    grid-row: auto;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-between;

    & button {
        width: 140px;
        height: 38px;
        font-size: 15px;
        border-radius: 10px;
        border-color: rgba(1, 1, 1, 0.5);
        background-color: #FFF;
    }
}

.input1 {
    grid-row: 1;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;
}

.input2 {
    grid-row: 2;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;

}

.input3 {
    grid-row: 3;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;
}

footer {
    display: flex;
    background-color: var(--header-color);
    justify-content: space-evenly;
    align-items: center;
}

.rented-card {
    grid-row: auto;
    display: flex;
    width: 320px;
    height: 100%;
    border: solid 1px rgb(0, 0, 0, 0.2);

    & .item-image {
        max-width: 150px;
        max-height: 120px;
    }

    & .item-description {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid #FFF 1px;
    }

    & .technical-btn {
        display: flex;
        align-items: center;
        width: 90%;
        height: 30%;
        font-size: 15px;
        font-family: 'Lato';
        font-weight: 500;
        background-color: #FFF;
        border: solid rgb(0, 0, 0, 0.5) 1px;
    }

    & .chevron {
        width: 20px;
        margin-left: auto;
    }
}

.break-line {
    grid-row: auto / span 1;
    border: solid rgb(0, 0, 0, 0.2) 1px;
    width: 100%;
    margin: 8% auto 8% auto;
}

.confirmation {
    display: flex;
    justify-content: space-between;

    & .standard_button {
        width: 142px;
        height: 38px;
        margin-top: 7%;
        font-size: 20px;
        border-radius: 10px;
        border: solid rgb(0, 0, 0, 0.5) 1px;
        background-color: #FFF;
    }

    & .reserverad_button {
        width: 142px;
        height: 38px;
        margin-top: 7%;
        font-size: 18px;
        color: #FFF;
        border-radius: 10px;
        border-style: none;
        background-color: var(--delete_btn-color);
        border: solid rgb(0, 0, 0, 0.5) 1px;
    }
}

.return_info {
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
    font-size: 15px;

    & .pickup_part {
        display: flex;
        height: 27px;
    }

    & .pickup_text {
        color: var(--pickup_text-color);
        font-weight: 600;
    }

    & .return_text {
        color: var(--unavailable-color);
        font-weight: 600;
    }
}