@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --btn-color: #C7CEDB;
    --available-color:#17D606;
    --unavailable-color: #E20404;
    --reserverad-btn: rgba(226, 4, 4, 0.2);
    --input_field-color:#C7CEDB;
  }

.item {
    display: flex;
    background-color:var(--btn-color);
    width: 100%;
    height: 100%;

    & .item-image {
        max-width: 150px;
        max-height: 120px;
    }

    & .item-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid #FFF 1px;
    }

    & .green {
        border: solid var(--available-color);
        background-color: var(--available-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-left: 15px;
    }

    & .red {
        border: solid var(--unavailable-color);
        background-color: var(--unavailable-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-left: 15px;
    }

    & .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        font-weight: 700;
    }

    & .standard_button {
        width: 170px;
        height: 38px;
        font-size: 20px;
        border-radius: 10px;
        border-style: none;
        background-color: #FFF;
        margin-right: auto;
        margin-left: auto;
    }

    & .reserverad_button {
        width: 170px;
        height: 38px;
        font-size: 18px;
        color: #FFF;
        border-radius: 10px;
        border-style: none;
        background-color: var(--reserverad-btn);
        margin-right: auto;
        margin-left: auto;
    }
}



.availability {
    grid-row: 4;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-around;
    height: 39px;

    & .available,
    .unavailable {
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    & .green {
        border: solid var(--available-color);
        background-color:var(--available-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    & .red {
        border: solid var(--unavailable-color);
        background-color: var(--unavailable-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }
}

.filtering {
    grid-row: auto;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-between;

    & button {
        width: 140px;
        height: 38px;
        font-size: 15px;
        border-radius: 10px;
        border-color: rgba(1, 1, 1, 0.5);
        background-color: #FFF;
    }
}

.input1 {
    grid-row: 1;
    grid-column: span 2;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;
}

.input2 {
    grid-row: 2;
    grid-column: span 2;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;
    
}

.input3 {
    grid-row: 3;
    grid-column: span 2;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: var(--input_field-color);
    width: 90%;
}


nav {
    grid-row: 3/span 1;
    grid-column: auto /span 2;
    display: flex;

    & .navicon {
        width: 25px;
        margin-right: auto;
    }

    & .location {
        margin-right: auto;
    }
}