.item {
    display: flex;
    background-color: #C7CEDB;
    width: 100%;
    height: 100%;

    & .item-image {
        max-width: 150px;
        max-height: 150px;

        &.item-description {}
    }
}

.availability {
    grid-row: 4;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-around;

    & .available , .unavailable{
        display: flex;
        align-items: center;
    }

    & .green{
        border: solid #17D606;
        background-color: #17D606;
        border-radius:50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    & .red{
        border: solid #E20404;
        background-color: #E20404;
        border-radius:50%;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }
}

.filtering {
    grid-row: auto;
    grid-column: auto/span 2;
    display: flex;
    justify-content: space-between;

    & button{
        width: 120px;
        height: fit-content;
        font-size: 15px;
        border-radius: 15px;
    }
}

.input1 {
    grid-row: 1;
    grid-column: span 2;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.input2 {
    grid-row: 2;
    grid-column: span 2;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.input3 {
    grid-row: 3;
    grid-column: span 2;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}



nav {
    grid-row: 3/span 1;
    grid-column: auto /span 2;
    display: flex;

    & .navicon {
        width: 25px;
        margin-right: auto;
    }

    & .placeholder{
        margin-right:auto;
    }
}